body {
    font-family: Arial, sans-serif;
    background-color: rgb(246, 246, 164);
}

nav {
    text-align: center;
    font-size: 22px;
    padding: 18px;
    background-color: rgb(32, 32, 174);
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0 15px;
}

nav a:hover {
    color: yellow;
}

h1 {
    text-align: center;
    color: rgb(32, 32, 174);
    font-size: 36px;
    margin-top: 25px;
}

.section {
    margin: 40px;
    font-size: 24px;
}
